.our-offers-content {
    text-align: center;
    margin: 20px;
  
    .offers-title {
      font-size: 2rem;
      margin-bottom: 20px;
      text-align: start;
    }
  
    .offers-image {
      width: 100%;
      max-width: 900px;
      margin: 20px 0;
    }
  
    .managed-services-title {
      font-size: 1.5rem;
      margin-bottom: 20px;
      text-align: start;
    }
  }
  